body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

.content {
    background-color: #e5e7eb;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: white;
    padding: 1.5rem 2rem;
    box-shadow: 0 -0.5rem 1rem rgb(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 20ch 1fr;
    justify-items: end;
    justify-content: stretch;
}

.header .header-title {
    justify-self: start;
    align-self: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.header .header-button button {
    padding: 0.7rem 0.9rem;
    border: 0;
    border-radius: 0.6rem;
    transition: all 0.3s ease-in-out;
}

.header .header-button button:hover {    
    background-color: #e1e1e1;
}

.header .header-button button:active {    
    background-color: #d1d1d1;
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: center;
    padding: 1.5rem 2rem;
    gap: 1rem;
}

.book-card {
    background-color: white;
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.3em 0.3rem rgb(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 2.5rem;
    position: relative;
}

.book-card[data-book-read="true"]::before
{
    border-left: 0.45rem solid #83e24b;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.55rem;
    border-radius: 0.4rem;
    transition: all .2s ease-in-out; 
}

.book-card[data-book-read="false"]::before
{
    border-left: 0.45rem solid #cacaca;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.55rem;
    border-radius: 0.4rem;
    transition: all .2s ease-in-out; 
}

.book-card .book-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.book-card .book-author {
    font-size: 0.9rem;
}

.book-card .book-not-read {
    background-color: #cacaca;
    padding: 0.4rem 1.4rem;
    text-align: center;
    border-radius: 0.4rem;
    transition: all .2s ease-in-out; 
    user-select: none;
}

.book-card .book-not-read:hover {
    background-color: #b4b4b4;
    transform: scale(1.05);
}

.book-card .book-not-read:active {
    background-color: #a0a0a0;
}

.book-card .book-read {
    background-color: #98ff5c;
    padding: 0.4rem 1.4rem;
    text-align: center;
    border-radius: 0.4rem;
    transition: all .2s ease-in-out; 
    user-select: none;
}

.book-card .book-read:hover {
    background-color: #8cf351;
    transform: scale(1.05);
}

.book-card .book-read:active {
    background-color: #81e944;
}

.book-card .book-remove {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem; 
    background: url('../images/trash.svg') no-repeat;
    width: 24px;
    height: 24px;
    transition: all .4s ease-in-out;  
}

.book-card .book-remove:hover {
    background: url('../images/trash-bigger.svg') no-repeat;
    width: 32px;
    height: 32px;
}

#newBookDialog {
    background-color: white;
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.3em 0.3rem rgb(0, 0, 0, 0.05);
    border: none;
    transform: scale(0.1);
    transition: all 0.8s ease-in-out;
}

#newBookDialog.open {
    transform: scale(1);
}

#newBookDialog.hide {
    transform: scale(0.1);
}

.new-book-form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.new-book-form .new-book-form-title
{
    text-align: center;
    margin-bottom: 0.4rem;
}

.new-book-form .form-input
{
    position: relative;
    height: 4rem;
}

.new-book-form .form-input label {
    position: absolute;
    font-size: 0.9rem;
    top: 1rem;
    left: 0.65rem;
    text-transform: uppercase;
    color: white;
    background-color: #132544;
    transition: all 0.6s ease-in-out;
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
    display: none;
}

.new-book-form .form-input input {
    margin: 0.3rem 0.1rem;
    padding: 0.6rem 0.4rem;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 0.2rem;
}

.new-book-form .form-error {
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    color: #500000;
    position: relative;
    top: -0.8rem;
}

.new-book-form .form-input input:focus {
    outline-style: none;
    border: 1px solid #132544;
}

.new-book-form .new-book-form-read {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.new-book-form .new-book-form-read-caption {
    font-size: 0.9rem;
}

.new-book-form .new-book-form-read-checkbox {
    background-color: #e5e7eb;
    width: 21px;
    height: 21px;
    font-size: 18px;
    padding-left: 1px;
    border-radius: 4px;
    text-align: center;
    margin-left: 2.7rem;
    user-select: none;
    border: 1px solid #132544;
    color: white;
    transition: all 0.3s ease-in-out;
}

.new-book-form .form-button {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.new-book-form .form-button button {
    width: 85%;
    padding: 0.4rem 0rem;
    margin-left: 7.5%;
    border: 0; 
    border-radius: 0.4rem;
    background-color: #e5e7eb;
    transition: all 0.3s ease-in-out;
}

.new-book-form .form-button button:hover {

    background-color: #dcdddf;
    transform: scale(1.1);
}

.new-book-form .form-button button:active {

    background-color: #cbcbcc;
}